<nav class="navbar is-fixed-top has-shadow" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <svg style="width: 60px;" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 169.1 79" enable-background="new 0 0 169.1 79" xml:space="preserve">
        <g>
        	<path fill="#2d3748" d="M49.2,60.2c-0.7,3.3-2,6.4-3.8,9.2c-1.8,2.8-4.4,5.1-7.7,6.9C34.4,78,30.2,79,25,79c-6.5,0-11.9-1.7-16.3-5
        		c-4.3-3.4-7.2-7.7-8.7-13l16.4-5.5c0.5,2,1.4,3.7,2.8,4.9c1.3,1.2,3,1.8,4.9,1.8c3,0,5.1-1,6-3.1c1-2.1,1.5-4.8,1.5-8.3V0h18.7
        		v50.6C50.3,53.6,49.9,56.8,49.2,60.2z"/>
        	<path fill="#2d3748" d="M147.1,76.9h-18.4l-15.2-52h-0.3l-15.2,52H79.6L57.8,0h20l12.2,51.1h0.3L103.9,0h19.3L137,51.1h0.3L149.8,0
        		h19.3L147.1,76.9z"/>
        </g>
        </svg>
      </a>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" href="/#work">
        My Work
      </a>
      <a class="navbar-item" href="/#about-me">
        About Me
      </a>
      <a class="navbar-item" href="/#proficiencies">
        Proficiencies
      </a>
      <a class="navbar-item" href="/resume/">
        Resume
      </a>

    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-primary" href="mailto:jdwallace12@gmail.com">
            <strong>Contact Me</strong>
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>
